<div
  class="biu-nav-email"
  style="
    max-width: 600px;
    min-width: 300px;
    margin: 40px auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
  "
>
  <h3 style="margin-bottom: 40px">Hi! 亲爱的用户：</h3>
  <p style="padding-left: 20px">
    您正在进行修改邮箱，请点击下面的链接进行验证：
  </p>
  <p style="padding-left: 14px">
    <a href="<%= locals.url %>"><%= locals.url %></a>
    <span>（为了保障您帐号的安全性，请在5分钟内完成验证，祝您生活愉快!）</span>
  </p>
  <p style="margin-top: 40px; text-align: right">系统邮件，回复无效。</p>
  <p style="text-align: right"><%= locals.date %></p>
</div>
